SMS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" 
targetNamespace="https://www.w3schools.com" xmlns="https://www.w3schools.com"> 
  <xs:element name="college">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="student">
          <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string" />
                <xs:element name="course" type="xs:string" />
                <xs:element name="sem" type="xs:string" />
                
                <xs:element name="total" type="xs:string" />
                <xs:element name="avg" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>